header {
    background-color: blue;
    color: white;
    padding: 20px;
    grid-area: header;
}

main {
    background-color: darkblue;
    color: white;
    grid-area: main;
}

aside {
    background-color: lightgreen;
    grid-area: aside;
}

footer {
    background-color: darkgreen;
    color: white;
    grid-area: footer;
}

body {
    background-color: #333;
}

form {
    display: grid;
    width: 400px;
    grid-template-columns: 50% 50%;
    align-items: center;
    grid-gap: 0.5em;
}

input {
    border: 2px solid #ddd;
    color: #fff;
    background-color: #555;
}

select {
    border: 2px solid #ddd;
    color: #fff;
    background-color: #555;
}

textarea {
    border: 2px solid #ddd;
    color: #fff;
    background-color: #555;
}

input::placeholder{
    color: #ccc;
}

input[type="submit"] {
    grid-column: 2;
}